<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<!--Fit page width to mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=0.7, minimum-scale=0.7, maximum-scale=0.7">
	
	<title>Error WSN</title>
</head>

<body>
    <div data-role="page" id="error-page" data-ajax="false">
        <div>  
            <%= error %>
        </div> 
    </div>
</body>

</html>