<!DOCTYPE html> 
<html>
<head>
    <meta charset="UTF-8">
	<!--Fit page width to mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=no">
	
	<title>Home WSN</title>
	
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="css/clientWSN.css" type="text/css" />
</head> 
 
<body>
    <!-- ******************* Page 2 ***************** -->
    <div data-role="page" id="page2">
        <div data-role="header">
		    <div data-role="navbar">
                <ul>
                <li><a href="/" data-icon="home" data-ajax="false">Control Panel</a></li>
                <li><a href="/sensordata" data-icon="eye" class="ui-btn-active ui-state-persist">Sensor Data</a></li>
                </ul>
            </div>
	    </div>

	    <div data-role="main" class="ui-content">
	        <div id="sensor-iframes">
	            <iframe width="450" height="260" style="border: 1px solid #cccccc;"
	                src="http://api.thingspeak.com/channels/58003/charts/1?width=450&height=260&results=400&dynamic=true&type=spline&yaxis=CPU%20Usage%20%5B%25%5D&title=BBB%20Linux%20CPU%20Usage" >
	            </iframe>
	            
	            <iframe width="450" height="260" style="border: 1px solid #cccccc;" 
	                src="http://api.thingspeak.com/channels/58003/charts/2?width=450&height=260&results=400&dynamic=true&type=spline&yaxis=RSS%20Memory%20Usage%20%5B%25%5D&title=BBB%20Linux%20RSS%20Memory%20Usage" >
	            </iframe>
	            
	            <iframe width="450" height="260" style="border: 1px solid #cccccc;" 
	                src="http://api.thingspeak.com/channels/58003/charts/3?width=450&height=260&results=400&dynamic=true&type=spline&yaxis=Heap%20Memory%20Usage%20%5B%25%5D&title=BBB%20Linux%20Heap%20Memory%20Usage" >
	            </iframe>
            </div>
	    </div>
	    
	    <div data-role="footer" data-position="fixed">
		    <img id="logo-footer" src="images/logo32.png" />
		    <h1 id="title-footer">Pipo WSN </h1>
	    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</body>

</html>

    